<?xml version="1.0" ?>
<module suppressWarnings="false">

  <User f="nodata">
    <User>
      <Select_User t="list" f="user" l="Main"/>
    </User>
  </User>

  <Main f="nodata">
    <Main>
      <Project/>
      <Author/>
      <autonum/>
      <Take_New_Sample   t="button" l="Sample"/>
      <Load_From_Barcode t="button"/>
    </Main>
    <search/>
  </Main>

  <Sample>
    <Tab>
      <Project f="readonly"/>
      <Author/>
      <timestamp/>
      <Artefact_ID f="id notnull"/>
      <Artefact_Type/>
      <Artefact_Description/>
      <Artefact_Barcode/>
      <Picture t="camera"/>
      <Number_Of_Joints b="decimal"/>
      <Total_Weight b="decimal"/>
      <Take_Weight t="button"/>
      <Device_List f="nodata" t="dropdown"/>
      <Refresh_List t="button"/>
    </Tab>
  </Sample>
  <logic>
  <![CDATA[
  String capturingDevice = null;

  addOnEvent("Sample/Tab/Device_List",  "click", "onClickDeviceList()");
  addOnEvent("Sample/Tab/Device_List",  "show",  "refreshList()");
  addOnEvent("Sample/Tab/Refresh_List", "click", "refreshList()");

  onClickDeviceList() {
    String s = getFieldValue("Sample/Tab/Device_List");
    showToast(s);
  }

  refreshList() {
    l  = getHardwareDevices();
    pl = listToPairList(l);
    populateDropDown("Sample/Tab/Device_List", pl);
  }

  listToPairList(List l) {
    List pl = new ArrayList();
    for (String s : l) {
      pl.add(new NameValuePair(s, s));
    }
    return pl;
  }


  addOnEvent("Sample/Tab", "show", "onBluetoothStartAuto()");
  
  messageBuffer = new ArrayList();
  messageBufferSize = 5;
  addMessage(message) {
    messageBuffer.add(message);
    if (messageBuffer.size() > messageBufferSize) {
      messageBuffer.remove(0);
    }
    value = "";
    for (i = 0; i < messageBuffer.size(); i++) {
      if (!value.isEmpty()) {
        value += "\n";
      }
      value += messageBuffer.get(i);
    }
    setFieldValue("Sample/Tab/ID", value);
  }
  
  onBluetoothStartAuto() {
    createBluetoothConnection("onBluetoothInput()", 1);
  }
  
  onBluetoothInput() {
    message = getBluetoothMessage();
    addMessage(message);
  }
  ]]>
  </logic>
</module>
